:root {
  --gray-1: #333333;
  --gray-2: #4f4f4f;
  --gray-3: #828282;
  --gray-4: #bdbdbd;
  --gray-5: #c4c4c4;
  --orange: #f2994a;
  --whitte: #ffffff;
  --black: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: var(--gray-1, #333);
  font-family: 'Montserrat', sans-serif;
}

.container {
  width: 972px;
  margin: 0 auto;
}
.container h1 {
  padding-left: 2px;
  padding-top: 52px;
  color: var(--black, #000);
  font-family: 'Playfair Display', serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.subtitulo {
  display: flex;
  justify-content: flex-start;
  gap: 12px;
  margin-top: 12px;
}
.subtitulo img {
  width: 13px;
  height: 8px;
  flex-shrink: 0;
  margin-top: 4px;
}
.subtitulo h2 {
  display: flex;
  width: 592px;
  flex-direction: column;
  flex-shrink: 0;
  color: var(--gray-2, #4f4f4f);
  font-size: 14px;
  font-style: italic;
  font-weight: 500;
  line-height: normal;
}

.container picture {
  display: inline-block;
  margin-top: 17px;
  padding-top: 26px;
  width: 969px;
  height: 470px;
}

.container picture img {
  width: 969px;
  height: 444px;
  border-radius: 12px;
}
.description-container {
  display: flex;
  padding-left: 2px;
  margin-top: 48px;
  justify-content: space-between;
}
.description-container .ingredient-and-instructions {
  width: 579px;
}
.description-container .informations-container {
  width: 216px;
  height: 367px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 43px;
  border-radius: 12px;
  background: #fff;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
}
.information-item {
  display: flex;
  gap: 11px;
}
.information-item img {
  width: 34px;
}
.information-item div {
  width: 80px;
}
.information-item h5 {
  color: var(--gray-4, #bdbdbd);
  font-family: Montserrat;
  font-size: 10px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  margin-bottom: 4px;
}
.information-item p {
  color: var(--gray-1, #333);
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.information-item:first-child p {
  color: var(--orange, #f2994a);
}
.ingredients-conatiner h3 {
  color: var(--gray-1, #333);
  font-family: Playfair Display;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.ingredients-conatiner h4 {
  color: var(--gray-1, #333);
  font-family: Playfair Display;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
  margin-top: 32px;
  margin-bottom: 30px;
}
.ingredients-conatiner ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}

.ingredients-conatiner ul li {
  display: flex;
  gap: 17px;
}
#graham li:nth-child(1) {
  margin-bottom: 3px;
}
#graham li:nth-child(2) {
  margin-bottom: 14px;
}

.cheescake-list li:nth-child(1),
.cheescake-list li:nth-child(4),
.cheescake-list li:nth-child(5),
.cheescake-list li:nth-child(6) {
  margin-bottom: 12px;
}
.cheescake-list li:nth-child(2),
.cheescake-list li:nth-child(3) {
  margin-bottom: 13px;
}

.ingredients-conatiner ul li label {
  color: var(--gray-1, #333);
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
}
.ingredients-conatiner ul li input {
  width: 21px;
  height: 21px;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid var(--gray-3, #828282);
}
.instructions h3 {
  color: var(--gray-1, #333);
  font-family: Playfair Display;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 28px 0 26px;
}
.instructions ol {
  list-style: none;
  counter-reset: list-number;
}
.instructions ol li {
  display: inline-flex;
  gap: 15px;
}

.instructions ol li::before {
  counter-increment: list-number;
  content: counter(list-number);
  display: inline-flex;
  align-content: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  flex-shrink: 0;
  border-radius: 6px;
  background: var(--orange, #f2994a);
  color: #fff;
  font-family: Playfair Display;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.instructions ol li p {
  color: #333;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
}
.instructions ol li:first-child p {
  line-height: normal;
}

.instructions ol li:nth-child(1) {
  margin-bottom: 31px;
}
.instructions ol li:nth-child(2) {
  margin-bottom: 22px;
}
.instructions ol li:nth-child(3) {
  margin-bottom: 38px;
}
.instructions ol li:nth-child(4) {
  margin-bottom: 40px;
}
.instructions ol li:nth-child(5) {
  margin-bottom: 40px;
}
.instructions ol li:nth-child(6) {
  margin-bottom: 38px;
}
.instructions ol li:nth-child(7) {
  margin-bottom: 57px;
}

.source blockquote a {
  text-decoration: none;
  color: var(--gray-4, #bdbdbd);
  font-family: Montserrat;
  font-size: 16px;
  font-style: italic;
  font-weight: 400;
  line-height: 150%;
}
footer {
  margin-top: 93px;
  margin-bottom: 24px;
}

footer p {
  color: var(--gray-3, #828282);
  text-align: center;
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
